<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <button class="btn btn-success btn-xs" ng-click="vm.openMockForm()">
                            <i class="glyphicon glyphicon-plus"></i> Create mock
                        </button>
                    </div>

                    <h2 class="panel-title">Mocks</h2>
                </div>

                <div class="list-group">
                    <div class="list-group-item" ng-show="vm.hasMocks()">No mocks registered.</div>
                    <div class="list-group-item" ng-repeat="(key, mock) in vm.mocks">
                        <div class="pull-right">
                            <button class="btn btn-danger btn-xs" ng-click="vm.deleteMock(key)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>

                        <span class="label label-default label-http-method">{{mock.method}}</span>

                        <a href="#" class="list-group-item-heading" ng-click="vm.selectMock(mock)">
                            {{mock.url}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="jumbotron text-center" ng-hide="vm.selectedMock">
                <h2>Please, select a mock or create a mock!</h2>
            </div>

            <mock-form ng-show="vm.selectedMock" model="vm.selectedMock"></mock-form>
        </div>
    </div>
</div>