<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hz="http://www.hazelcast.com/schema/spring" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.hazelcast.com/schema/spring
          http://www.hazelcast.com/schema/spring/hazelcast-spring-3.4.xsd">

	<hz:hazelcast id="instance">
		<hz:config>
			<hz:network port="${hazelcast.server.port}">
                <hz:join>
                    <hz:multicast enabled="false"/>
                    <hz:tcp-ip enabled="false" />
                </hz:join>
            </hz:network>
		
			<hz:serialization>
				<hz:serializers>
					<hz:serializer type-class="org.mockenize.model.LogBean" implementation="logBeanSerializer" />
					<hz:serializer type-class="org.mockenize.model.MockBean" implementation="mockBeanSerializer" />
				</hz:serializers>
			</hz:serialization>
		</hz:config>
	</hz:hazelcast>
</beans>